$blockhw: 270px;

#block1 div {
	border: 5px solid black;
	height: 90px;
	width: 90px;
}

#block1 {
	height: $blockhw;
	width: $blockhw;
	border: 10px solid black;
	display: inline-block;
}

.row1 {
	display: block;

}

.row2 {
	display: block;
}

.row3 {
	display: block;
}

.column1 {
	display: inline-block;
}

#box1 {
	display: inline-block;
}

