$blockhw: 270px;

.block input {
  height: 90px;
  width: 90px;
  outline: solid black;
  border: 0px;
  padding: 0px;
  font-size: 60px;
  text-align: center;
}

.block {
  height: 270px;
  width: 280px;
  outline: double;
  display: inline-block; 
  padding: 0px;
  margin-top: 0px;
}

